<a href="https://colab.research.google.com/github/Shashank2909/Sem-vii/blob/main/ISC/171104001_shashank_exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exercise 1
data = 5649
x=0
while data>0:
    a=int(data % 10.0)
    x=x*10+a
    data=int(data / 10.0)
print(x)

Exercise-1
9465

In [ ]:
# Strings in python

var1 = 'testing'
var2 = "I am running"

var3 = "Hello! "

print ("var1[0:3]: ", var1[0:3])
print ("var2[1:6]: >", var2[1:6],"<")
print(var3*4)

var1[0:3]:  tes
var2[1:6]: >  am r <
Hello! Hello! Hello! Hello!

In [ ]:
# EXERCISE 2
print("Name: {} Roll no: {} GATE Rank: {} Percentile: {} " .format('Shashank', 171104001, 1550, 65))

Name: Shashank Roll no: 171104001 GATE Rank: 1550 Percentile: 65

In [ ]:
# EXERCISE 3
players = ['abc', 'de', 'efg', 'ijk', 'lmn', 'op', 'qq', 'rr']
del players[1:4]
del players[2:3]
print(players)

['abc', 'lmn', 'qq', 'rr']

In [ ]:
#Exercise 4

i = '* * * *'
j = '*     '
k = '      *'
for x in range(8):
    if x==0 or x==7 or x==3:
      print(i)
    elif x==1 or x==2:
      print(j)
    elif x==4 or x==5:  
      print(k)

* * * *
*
*
* * * *
      *
      *
* * * *

In [11]:
# EXERCISE 5
import numpy as np
A1 = np.random.random((5,4))
A2 = np.random.random((3,4))

A3 = np.concatenate((A,B))

A4 = np.concatenate((A3, np.random.randn(2, 4)))
A4 = np.concatenate((A4, np.random.randn(10, 6)), axis=1)

print('Array A1: \n ' , A1)
print('Transpose of A1: \n ', A1.T)
print('Array A2: \n ' , A2)
print('Transpose of A2: \n ', A2.T)
print('Array A3 (size:-8x4): \n ' , A3)
print('Transpose of A3: \n ', A3.T)
print('Array A4 (size:-10X10): \n ' , A4)
print('Transpose of A4: \n ', A4.T)

Array A4 (size:-10X10):
  [[ 0.98235452  0.55604637  0.03502602  0.27835451 -1.49602439 -0.04029827
   1.14672502  1.01724178 -0.05317343 -0.50874268]
 [ 0.75048804  0.70223364  0.98965682  0.06020249  1.37843888 -0.90475894
   0.10476672 -0.09755314 -0.34131852  0.81176041]
 [ 0.06854693  0.26606067  0.57619582  0.10763794  0.70287289 -0.03760377
   1.00843038  0.55289998 -0.26491745 -0.69889757]
 [ 0.83266153  0.52997492  0.16565283  0.44238111 -0.7518817  -1.04244301
  -0.06864362 -0.46227799 -0.84392846  0.46256269]
 [ 0.2504018   0.62658411  0.4833813   0.83135798  1.10962344  1.3043867
  -0.10841081 -0.36326203  1.08339893 -1.97148214]
 [ 0.73921882  0.57858999  0.65742937  0.76282474  0.01485548 -0.94638578
  -1.38999337  0.37186867 -1.79997978  2.58999716]
 [ 0.66617241  0.14869371  0.67261804  0.61919565 -0.15599209 -1.80798092
   0.48222879 -1.18723415 -0.04706977 -0.99283293]
 [ 0.50038036  0.67807015  0.32317053  0.87041454  0.14383512  1.84750862
   1.45079853  1.69805182  0.17175816  0.17491151]
 [-0.17617564  1.02472095  0.67943947  1.16586918 -0.54195514 -0.16841494
  -0.09649929 -0.57395567 -0.41559652 -1.78239743]
 [-0.00562475  1.04916893  1.76839533 -0.47094224 -0.28081542 -0.6170111
   1.16261263  0.43832581 -0.21111757  0.7630147 ]]
Transpose of A4:
  [[ 0.98235452  0.75048804  0.06854693  0.83266153  0.2504018   0.73921882
   0.66617241  0.50038036 -0.17617564 -0.00562475]
 [ 0.55604637  0.70223364  0.26606067  0.52997492  0.62658411  0.57858999
   0.14869371  0.67807015  1.02472095  1.04916893]
 [ 0.03502602  0.98965682  0.57619582  0.16565283  0.4833813   0.65742937
   0.67261804  0.32317053  0.67943947  1.76839533]
 [ 0.27835451  0.06020249  0.10763794  0.44238111  0.83135798  0.76282474
   0.61919565  0.87041454  1.16586918 -0.47094224]
 [-1.49602439  1.37843888  0.70287289 -0.7518817   1.10962344  0.01485548
  -0.15599209  0.14383512 -0.54195514 -0.28081542]
 [-0.04029827 -0.90475894 -0.03760377 -1.04244301  1.3043867  -0.94638578
  -1.80798092  1.84750862 -0.16841494 -0.6170111 ]
 [ 1.14672502  0.10476672  1.00843038 -0.06864362 -0.10841081 -1.38999337
   0.48222879  1.45079853 -0.09649929  1.16261263]
 [ 1.01724178 -0.09755314  0.55289998 -0.46227799 -0.36326203  0.37186867
  -1.18723415  1.69805182 -0.57395567  0.43832581]
 [-0.05317343 -0.34131852 -0.26491745 -0.84392846  1.08339893 -1.79997978
  -0.04706977  0.17175816 -0.41559652 -0.21111757]
 [-0.50874268  0.81176041 -0.69889757  0.46256269 -1.97148214  2.58999716
  -0.99283293  0.17491151 -1.78239743  0.7630147 ]]

In [20]:
# EXERCISE 6
name = {'Rohit':000, 'Dhoni':000}#,'Kohli':000,'Ronaldo':000,'Messi':000}

for keys in name:
    name[keys] = input('Enter Hash code: ')
print(name)
second = {name['Rohit']:000, name['Dhoni']:000}#, name['Kohli']:000,'Ronaldo':000,'Messi':000}
for keys in second:
    second[keys] = input('Enter Mobile no.: ')
print(second)
n = int(input("Enter the no. of entries: "))
for i in range(0,n):
    a = input("Enter a new name: ")
    name[a] = int(input("Enter hash value: "))
    second[name[a]] = int(input('Enter mob. no:'))
print(name)
m = int(input("Enter no. of entries to be deleted: "))
for i in range(0,m):
    a = input("Enter name to be deleted: ")
    del(name[a])
print(name)

Enter Hash code: 111
Enter Hash code: 222
{'Rohit': '111', 'Dhoni': '222'}
Enter Mobile no.: 83
Enter Mobile no.: 93
{'111': '83', '222': '93'}
Enter the no. of entries: 1
Enter a new name: Shashank
Enter hash value: 333
Enter mob. no:01
{'Rohit': '111', 'Dhoni': '222', 'Shashank': 333}
Enter no. of entries to be deleted: 1
Enter name to be deleted: Shashank
{'Rohit': '111', 'Dhoni': '222'}