<a href="https://colab.research.google.com/github/Shashank2909/Sem-vii/blob/main/ISC/171104001_shashank_exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Exercise 1
data = 5649
x=0
while data>0:
    a=int(data % 10.0)
    x=x*10+a
    data=int(data / 10.0)
print(x)

Exercise-1
9465

In [ ]:
# Strings in python

var1 = 'testing'
var2 = "I am running"

var3 = "Hello! "

print ("var1[0:3]: ", var1[0:3])
print ("var2[1:6]: >", var2[1:6],"<")
print(var3*4)

var1[0:3]:  tes
var2[1:6]: >  am r <
Hello! Hello! Hello! Hello!

In [ ]:
# EXERCISE 2
print("Name: {} Roll no: {} GATE Rank: {} Percentile: {} " .format('Shashank', 171104001, 1550, 65))

Name: Shashank Roll no: 171104001 GATE Rank: 1550 Percentile: 65

In [ ]:
# EXERCISE 3
players = ['abc', 'de', 'efg', 'ijk', 'lmn', 'op', 'qq', 'rr']
del players[1:4]
del players[2:3]
print(players)

['abc', 'lmn', 'qq', 'rr']

In [ ]:
#Exercise 4

i = '* * * *'
j = '*     '
k = '      *'
for x in range(8):
    if x==0 or x==7 or x==3:
      print(i)
    elif x==1 or x==2:
      print(j)
    elif x==4 or x==5:  
      print(k)

* * * *
*
*
* * * *
      *
      *
* * * *

In [2]:
# EXERCISE 5
import numpy as np
A1 = np.random.random((5,4))
A2 = np.random.random((3,4))

A3 = np.concatenate((A1,A2))

A4 = np.concatenate((A3, np.random.randn(2, 4)))
A4 = np.concatenate((A4, np.random.randn(10, 6)), axis=1)

print('Array A1: \n ' , A1)
print('Transpose of A1: \n ', A1.T)
print('Array A2: \n ' , A2)
print('Transpose of A2: \n ', A2.T)
print('Array A3 (size:-8x4): \n ' , A3)
print('Transpose of A3: \n ', A3.T)
print('Array A4 (size:-10X10): \n ' , A4)
print('Transpose of A4: \n ', A4.T)

Array A1:
  [[0.79625208 0.83805264 0.3857732  0.96348538]
 [0.68699411 0.5321307  0.58321175 0.18546672]
 [0.11101999 0.57959466 0.34589213 0.61748629]
 [0.88678784 0.46181221 0.34905561 0.5989254 ]
 [0.42050668 0.66962138 0.65128628 0.59767866]]
Transpose of A1:
  [[0.79625208 0.68699411 0.11101999 0.88678784 0.42050668]
 [0.83805264 0.5321307  0.57959466 0.46181221 0.66962138]
 [0.3857732  0.58321175 0.34589213 0.34905561 0.65128628]
 [0.96348538 0.18546672 0.61748629 0.5989254  0.59767866]]
Array A2:
  [[0.54508858 0.32829038 0.11786225 0.54678504]
 [0.22546369 0.19126282 0.07784764 0.13148261]
 [0.28737907 0.38748443 0.9497515  0.04300303]]
Transpose of A2:
  [[0.54508858 0.22546369 0.28737907]
 [0.32829038 0.19126282 0.38748443]
 [0.11786225 0.07784764 0.9497515 ]
 [0.54678504 0.13148261 0.04300303]]
Array A3 (size:-8x4):
  [[0.79625208 0.83805264 0.3857732  0.96348538]
 [0.68699411 0.5321307  0.58321175 0.18546672]
 [0.11101999 0.57959466 0.34589213 0.61748629]
 [0.88678784 0.46181221 0.34905561 0.5989254 ]
 [0.42050668 0.66962138 0.65128628 0.59767866]
 [0.54508858 0.32829038 0.11786225 0.54678504]
 [0.22546369 0.19126282 0.07784764 0.13148261]
 [0.28737907 0.38748443 0.9497515  0.04300303]]
Transpose of A3:
  [[0.79625208 0.68699411 0.11101999 0.88678784 0.42050668 0.54508858
  0.22546369 0.28737907]
 [0.83805264 0.5321307  0.57959466 0.46181221 0.66962138 0.32829038
  0.19126282 0.38748443]
 [0.3857732  0.58321175 0.34589213 0.34905561 0.65128628 0.11786225
  0.07784764 0.9497515 ]
 [0.96348538 0.18546672 0.61748629 0.5989254  0.59767866 0.54678504
  0.13148261 0.04300303]]
Array A4 (size:-10X10):
  [[ 0.79625208  0.83805264  0.3857732   0.96348538 -0.07730696 -0.88909655
  -2.13055547  1.02339131 -0.17885669  0.46356595]
 [ 0.68699411  0.5321307   0.58321175  0.18546672  0.55562109 -0.61404854
  -0.30217087 -1.42861093 -0.04308853 -0.77539242]
 [ 0.11101999  0.57959466  0.34589213  0.61748629 -0.98330156 -0.37666058
   2.47299016  0.39648908  0.54331725  0.50236316]
 [ 0.88678784  0.46181221  0.34905561  0.5989254  -1.03683169 -0.97964219
   0.13579652  0.37173368  0.7995919  -1.48646304]
 [ 0.42050668  0.66962138  0.65128628  0.59767866 -0.68666442 -1.03523379
  -1.55297655 -0.49621697  0.94226091 -0.89508572]
 [ 0.54508858  0.32829038  0.11786225  0.54678504 -1.16472266 -1.66414981
  -0.13703031  0.19616448 -1.64119174 -1.27919116]
 [ 0.22546369  0.19126282  0.07784764  0.13148261 -1.1559548  -0.81756994
  -0.20493347 -0.32126188 -1.32716654 -1.34251622]
 [ 0.28737907  0.38748443  0.9497515   0.04300303  1.17822141  1.76663362
  -0.84515281 -0.52671017  0.84996135 -1.72711826]
 [ 1.14199044  0.70432679  0.43192507  0.74369326  0.90742606 -0.34801159
  -0.07322663  0.17480592  0.9346848  -1.1721827 ]
 [-1.38326531 -0.36702672  1.47643122  1.05764987 -0.61313903 -0.72859268
   0.57684989  0.87866432  0.26832665 -1.06314733]]
Transpose of A4:
  [[ 0.79625208  0.68699411  0.11101999  0.88678784  0.42050668  0.54508858
   0.22546369  0.28737907  1.14199044 -1.38326531]
 [ 0.83805264  0.5321307   0.57959466  0.46181221  0.66962138  0.32829038
   0.19126282  0.38748443  0.70432679 -0.36702672]
 [ 0.3857732   0.58321175  0.34589213  0.34905561  0.65128628  0.11786225
   0.07784764  0.9497515   0.43192507  1.47643122]
 [ 0.96348538  0.18546672  0.61748629  0.5989254   0.59767866  0.54678504
   0.13148261  0.04300303  0.74369326  1.05764987]
 [-0.07730696  0.55562109 -0.98330156 -1.03683169 -0.68666442 -1.16472266
  -1.1559548   1.17822141  0.90742606 -0.61313903]
 [-0.88909655 -0.61404854 -0.37666058 -0.97964219 -1.03523379 -1.66414981
  -0.81756994  1.76663362 -0.34801159 -0.72859268]
 [-2.13055547 -0.30217087  2.47299016  0.13579652 -1.55297655 -0.13703031
  -0.20493347 -0.84515281 -0.07322663  0.57684989]
 [ 1.02339131 -1.42861093  0.39648908  0.37173368 -0.49621697  0.19616448
  -0.32126188 -0.52671017  0.17480592  0.87866432]
 [-0.17885669 -0.04308853  0.54331725  0.7995919   0.94226091 -1.64119174
  -1.32716654  0.84996135  0.9346848   0.26832665]
 [ 0.46356595 -0.77539242  0.50236316 -1.48646304 -0.89508572 -1.27919116
  -1.34251622 -1.72711826 -1.1721827  -1.06314733]]

In [2]:
# EXERCISE 6
name = {'Rohit':000, 'Dhoni':000,'Kohli':000,'Ronaldo':000,'Messi':000}

for keys in name:
    name[keys] = input('Enter Hash code: ')
print(name)
second = {name['Rohit']:000, name['Dhoni']:000, name['Kohli']:000,name['Ronaldo']:000,name['Messi']:000}
for keys in second:
    second[keys] = input('Enter Mobile no.: ')
print(second)
n = int(input("Enter the no. of entries: "))
for i in range(0,n):66
    a = input("Enter a new name: ")
    name[a] = int(input("Enter hash value: "))
    second[name[a]] = int(input('Enter mob. no:'))
print(name)
m = int(input("Enter no. of entries to be deleted: "))
for i in range(0,m):
    a = input("Enter name to be deleted: ")
    del(name[a])
print(name)

Enter Hash code: 111
Enter Hash code: 222
Enter Hash code: 333
Enter Hash code: 444
Enter Hash code: 555
{'Rohit': '111', 'Dhoni': '222', 'Kohli': '333', 'Ronaldo': '444', 'Messi': '555'}
Enter Mobile no.: 12
Enter Mobile no.: 23
Enter Mobile no.: 34
Enter Mobile no.: 45
Enter Mobile no.: 56
{'111': '12', '222': '23', '333': '34', '444': '45', '555': '56'}
Enter the no. of entries: 2
Enter a new name: Shashank'
Enter hash value: 666
Enter mob. no:67
Enter a new name: Ajgaonkar
Enter hash value: 777
Enter mob. no:78
{'Rohit': '111', 'Dhoni': '222', 'Kohli': '333', 'Ronaldo': '444', 'Messi': '555', "Shashank'": 666, 'Ajgaonkar': 777}
Enter no. of entries to be deleted: 2
Enter name to be deleted: Rohit
Enter name to be deleted: Dhoni
{'Kohli': '333', 'Ronaldo': '444', 'Messi': '555', "Shashank'": 666, 'Ajgaonkar': 777}